apiVersion: v1
kind: Service
metadata:
  name: communication-service
spec:
  selector:
    app: communication-service
  type: LoadBalancer
  ports:
    - port: 4002
      targetPort: 4002
      protocol: TCP
---
