apiVersion: v1
kind: Service
metadata:
  name: mortgage-service
spec:
  selector:
    app: mortgage-service
  type: LoadBalancer
  ports:
    - port: 4001
      targetPort: 4001
      protocol: TCP
---
