apiVersion: v1
kind: Service
metadata:
  name: mortgage-service
  annotations:
    # Use AWS Classic Load Balancer
    service.beta.kubernetes.io/aws-load-balancer-type: "classic"

    # Attach your ACM Certificate ARN
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "arn:aws:acm:us-west-1:075502422618:certificate/18411739-5f09-43f2-9b74-5b1879b245b6"

    # Tell LB to use HTTPS listener on port 443
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"

    # Send decrypted traffic to the pod over HTTP
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"
spec:
  selector:
    app: mortgage-service
  type: LoadBalancer
  ports:
    - name: https
      port: 443         # Public port (client hits this)
      targetPort: 4001  # Internal container port (HTTP)
      protocol: TCP
